// color
$color_violet: #ae19e2;
$color_red: red;
$color_white: white;
$color_black: black;
$color_footer: rgb(236, 236, 236);
$color_header: #000000;
$color_hover: #12ceeb;
// Font weight
$fw_300: 300;
$fw_400: 400;
$fw_500: 500;
$fw_bold: bold;

// width
$width_291_button: 291px;

// height
$height_50_button: 50px;
